<!-- Display the Form UI -->
<form method="get" action="" id="SearchForm">

    <!--Name-->
    <label for="ProductName">Name<br></label>
    <input type="search" id="ProductName" name="ProductName">

    <!--Price-->
    <label for="PriceL">Price</label>
    <div style="clear: both;"></div>
    <div id="PriceDiv">
        <input id="PriceL" type="text" name="PriceLow" placeholder="Min">
        <span>to</span>
        <input id="PriceH" type="text" name="PriceHigh" placeholder="Max">
    </div>

    <!--CatagoryField-->
    <label for="CatagoryField">Category</label>
    <select id="CatagoryField" name="Category">
        <option value="None" selected >None</option>
    </select>

    <!--SubCategory-->
    <label for="SubCategory">Subcategory</label>
    <select id="SubCatagoryField" name="SubCategory">
        <option value="None" selected >None</option>
    </select>

    <!-- Rarity    -->
    <label for="Rarity">Rarity</label>
    <select name="Rarity">
        <option value="None">None</option>
        <option value="Common">Common</option>
        <option value="Uncommon">Uncommon</option>
        <option value="Rare">Rare</option>
        <option value="Legendary">Legendary</option>
    </select>

    <!--Order BY-->
    <label for="SortBy">Order By</label>
    <select name="SortBy" id="SortBy">
        <option value="None" selected>None</option>
        <option value="ProductName">Name</option>
        <option value="Price">Price</option>
        <option value="Rarity">Rarity</option>
        <option value="Category">Category</option>
        <option value="SubCategory">SubCategory</option>
        <option value="quantity" hidden>quantity</option>
        <option value="ID" hidden>ID</option>
    </select>

    <select name="OrderBy">
        <option value="ASC" selected>Ascending</option>
        <option value="DESC">Descending</option>
    </select>
    <br />



    <div class="controlButtons">
        <input id="ResetButton" type="Reset" name="Reset" value="Clear">
        <input id="SubmitButton" type="Submit" name="Submit" value="Submit">
    </div>
</form>