<div class="topnav">
    <nav>
        <h1><a href="homePage.php" id="shopHomeButton">Shadow-Steel Weapons</a></h1>
        <div id="navagation">
            <div id="Products">
                <ul>
                    <li><a href="?Category=Potion">Potions</a>
                        <ul>
                            <li><a href="?Category=Potion&Rarity=Common">Common Potions</a></li>
                            <li><a href="?Category=Potion&Rarity=Uncommon">Uncommon Potions</a></li>
                            <li><a href="?Category=Potion&Rarity=Rare">Rare Potions</a></li>
                            <li><a href="?Category=Potion&Rarity=Legendary">Legendary Potions</a></li>
                        </ul>
                    </li>

                    <li><a href="?Category=Sword">Swords</a>
                        <ul>
                            <li><a href="?Category=Sword&Rarity=Common">Common Sword</a></li>
                            <li><a href="?Category=Sword&Rarity=Uncommon">Uncommon Sword</a></li>
                            <li><a href="?Category=Sword&Rarity=Rare">Rare Sword</a></li>
                            <li><a href="?Category=Sword&Rarity=Legendary">Legendary Sword</a></li>
                        </ul>
                    </li>
                    <li><a href="addProduct">Add Product</a>
                    </li>
                    <li><a href="dbtestpage">Admin</a>
                    </li>
                </ul>
                <div id="loginbar">
                    <div id="loginButton">
                        <!--Start of signin -->
                        <a href="sign-in.php">
                            <img src="/img/PersonIcon.png" alt="Login Icon">
                            Login</a>
                        <!--End of signin -->
                    </div>
                    <a href="shopingCart.php">
                        <img src="/img/ShopingCart.png" alt="Shoping Cart Icon">
                    </a>
                </div>

            </div>
        </div>
    </nav>
</div>
<!--End of top nav-->