.mainContect{
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    padding: 8px 16px;
    min-width: 500px;
  }
  
  
  #body{
  background-color: #dcccff;
  display:block;
  }
  
  .sideAdd{
    position: absolute;
    width: 150px;
  }
  
  footer{
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    background-color: #9966ff;
    text-align: center;
    padding-bottom: 10px;
  }
  
  /*Over All style of Nav area*/
  .topnav nav{
    background-color: #9966ff;
    display: inline-block;
    margin: 0;
    padding-top: 8px;
    width: 100%;
    height: 175px;
  }
  
  
  .topnav #Products>ul>li{
    border: white 1px solid;
  }
  
  .topnav #Products>ul>li:first-child{
  margin-right: 0px;
  }
  
  .topnav nav li{
  width: 150px;
  background-color: #9966ff;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  list-style: none;
  z-index: 10;
  }
  
  
  .topnav nav ul a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .topnav li a:hover {
    background-color: #111;
  }
  
  .topnav nav li ul{
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
  }
  
  .topnav nav li:hover > ul{
    display: block;
  }
  
  
  
  .topnav #loginButton , img, input {
    display: inline;
    padding: 0 8px 0 8px;
  }
  
  .topnav #loginbar{
    margin-right: 8px;
    margin-left: 16px;
    padding: 8px;
    float: left;
    background-color: white;
  }
  
  #loginButton a{
    color:black;
    text-decoration: none;
  }
  
  /*NAV HEADER*/
  .topnav nav h1 a{
  display: inline-block;
  margin-left: 8px;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 60px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  }
  
  label{
    cursor: pointer;
  }
  
  body{
    padding: 0;
    margin: 0;
    min-width: 900px;
  }
  
  #personalInfo td:first-child{
    text-align: right;
  }
  
  #personalInfo tr:last-child td:last-child textarea{
    width: 183px;
  }
  
  #personalInfoErrorMessages,
  #creditCardInfoErrorMessages,
  #formButtonsErrorMessages{
    display: None;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffcccc;
    text-align: center;
  
  }
  #totalAmount{
    border: black solid 1px;
    font-size: 1.5em;
    padding: 8px;
    margin: 16px;
  }
  
  #total{
    display: inline;
  }
  
  table{
    margin-left: auto;
    margin-right: auto;
  }
  
  #items td{
  text-align: center;
  }
  
  #creditCardInfo{
    text-align: center;
  }
  
  #creditCardType{
    margin-top: 16px;
  }
  #formButtons{
    margin: 16px;
    text-align: center;
  }
  
  #formButtons input{
    margin: 10px;
    height: 35px;
    width: 35%;
  }
  
  #finePrint{
    font-size: x-small;
    font-family: monospace;
  }
  
  span{
    font-size: large;
    font-family: sans-serif;
  }
  
  .mainContect h1{
    border-bottom: #9966ff solid 2px;
  }
  
  .mainContect{
    min-height: 600px;
  }
  
  #navagation{
    width: 900px;
    display: inline-block;
  }
  
  .topnav nav ul{
    float: left;
    padding-left: 5px;
    margin-top: 0px;
  }
  
  table img{
    display: inline-block;
    height: 100px;
    width: 100px;
  }

  table{
    border-collapse: collapse;
    text-align: left;
  }

  table tr th{
    background-color: #4CAF50;
    color: white;  
  }
  table  td{
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }
  table .TableBody:nth-child(odd){
  }

  table .TableBody:nth-child(even) {
  }