#center {
  text-align: center;
}

form {
  border: 2px solid silver;
  display: inline-block;
  padding: 5px;
}

label, #PriceLabel {
  text-align: left;
  margin-top: 15px;
  display: block;
}

label:first-of-type {
  margin-top: 0px;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
}

.controlButtons {
  display: flex;
}

.controlButtons input{
  width: 50%;
  margin: 10px;
  margin-top: 15px;
  padding: 5px 15px;
}



#PriceDiv{
  display: flex;
  box-sizing: border-box;
}

#PriceDiv input{
  margin: 0px 10px;
}

#PriceDiv input:first-child{
  margin-left: 0px;
}

#PriceDiv input:last-child{
  margin-right: 0px;
}

#PriceDiv span{
  text-align: center;
}


