#center {
  text-align: center;
}

form {
  border: 2px solid silver;
  display: inline-block;
}

label {
  float: left;
  margin-top: 15px;
}

label:first-of-type {
  margin-top: 0px;
}


input,
select {
  box-sizing: border-box;
  width: 100%;
}

.controlButtons {
  display: flex
}

.controlButtons input{
  width: 50%;
  margin: 10px;
  margin-top: 15px;
  padding: 5px 15px;
}